{% extends "base.html" %}
{% load static %}
{% load custom_tag %}

{% block content %}
<!-- BEGIN SAMPLE TABLE PORTLET-->
<div class="portlet box red" style="border-color: #a01922">
    <div class="portlet-title" style="background-color: #a01922">
        <div class="caption">
            {{car_name|default_if_none:"Supercar"}} {{car_brand|default_if_none:""}} Prices</div>
    </div>
    <div class="portlet-body">
        <div class="table-responsive">
            <table class="table">
                <thead>
                    <tr>
                        <th></th>
                        {% for ct in country_label %}
                        <th><span class="flag flag-{{ct.flag}}" style="position: relative; top: 3px;"></span> <span style="margin-left: 5px;">{{ct.name}}</span> </th>
                        {% endfor %}
                    </tr>
                </thead>
                <tbody> 
                    {% for name in res %}
                    <tr>
                        <td> 
                            <a href="{%if car_brand != None %} javascript:;
                                     {% elif car_name != None %} {% url 'year' car_name=car_name|slugify brand=name|slugify %}
                                     {% else %} {% url 'brand' car_name=name|slugify %} {% endif %}">{{name}}</a> </td>
                        {% for cn in res|dict:name %}
                        <td> {% if res|dict:name|dict:cn|dict:'percent' != None %}{{currency.currency}}{%endif%}{{res|dict:name|dict:cn|dict:'davg'|currency}} {% if res|dict:name|dict:cn|dict:'percent' != None %}(<span style="color: {%if res|dict:name|dict:cn|dict:'percent'|getFloat < 0.0 %} red; {%else%} #0ea600; {%endif%}">{{res|dict:name|dict:cn|dict:'percent'}} %</span>){% endif %}</td>
                        {% endfor %}
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>

{% if car_name == None %}
<div class="row">
    <div class="col-md-12">
        <div class="portlet light portlet-fit ">
            <div class="portlet-title">
                <div class="caption">
                    <span style="color: #a01922" class="caption-subject bold">Supercar Prices By Brand</span>
                </div>
            </div>
            <div class="portlet-body">
                <div id="highchart_1" style="height:500px;"></div>
            </div>
        </div>
    </div>
</div>
{% endif %}

<div class="row">
    <div class="col-md-12">
        <div class="portlet light portlet-fit ">
            <div class="portlet-title">
                <div class="caption">
                    <span style="color: #a01922" class="caption-subject bold">Supercar Prices By Country</span>
                </div>
            </div>
            <div class="portlet-body">
                <div id="highchart_2" style="height:500px;"></div>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block extra_js %}
<script src="{% static 'global/plugins/highcharts/js/highcharts.js' %}"" type="text/javascript"></script>
<script src="{% static 'global/plugins/highcharts/js/highcharts-3d.js' %}"" type="text/javascript"></script>
<script src="{% static 'global/plugins/highcharts/js/highcharts-more.js' %}"" type="text/javascript"></script>

<script>

$('#highchart_1').highcharts({
        chart : {
            style: {
                fontFamily: 'Open Sans'
            }
        },
		title: {
			text: '',
			x: -20 //center
		},
		/*subtitle: {
			text: 'Source: WorldClimate.com',
			x: -20
		},*/
		yAxis: {
			title: {
				text: 'Price ({{currency.currency}})'
			},
			plotLines: [{
				value: 0,
				width: 1,
				color: '#808080'
			}]
		},
                xAxis: {
                         title: {
				text: 'Year'
			},
		},
		tooltip: {
			valuePrefix: '{{currency.currency}}'
		},
		legend: {
			layout: 'vertical',
			align: 'right',
			verticalAlign: 'middle',
			borderWidth: 0
		},
		series: [
                    {% for data in chartData|dict:0 %}
                    {name: '{{data|dict:"name"}}', data: {{data|dict:"data"}}},
                    {% endfor %}
                ]
	});

        $('#highchart_2').highcharts({
        chart : {
            style: {
                fontFamily: 'Open Sans'
            }
        },
		title: {
			text: '',
			x: -20 //center
		},
		/*subtitle: {
			text: 'Source: WorldClimate.com',
			x: -20
		},*/
		yAxis: {
			title: {
				text: 'Price ({{currency.currency}})'
			},
			plotLines: [{
				value: 0,
				width: 1,
				color: '#808080'
			}]
		},
                xAxis: {
                         title: {
				text: 'Year'
			},
			categories: {{chartData|dict:2}}
		},
		tooltip: {
			valuePrefix: '{{currency.currency}}'
		},
		legend: {
			layout: 'vertical',
			align: 'right',
			verticalAlign: 'middle',
			borderWidth: 0
		},
		series: [
                    {% for data in chartData|dict:1 %}
                    {name: '{{data|dict:"name"}}', data: {{data|dict:"data"}}},
                    {% endfor %}
                ]
	});

</script>
{% endblock %}
